name: 11 - Working with Inputs

on:
 workflow_dispatch:
  inputs:
   dry-run:
    type: boolean
    description: "Skip deployment and only print build output"
   target:
    type: environment
    description: "Which environment the workflow will target"
   tag:
    type: choice
    description: "Release from which to build and deploy"
    options:
     - v1
     - v2
     - v3
     - v4
    
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - name: build
    run: "echo Building from tag ${{ input.tag }}"
 
 deploy: 
  runs-on: ubuntu-latest
  needs: [build]
  environment: ${{ input.environment }}
  if: {{ !input.dry-run }}
  steps:
  - name: deploy
    run: "echo deploying to ${{ input.tag }}"